@model GardenMonitoring.Models.Settings

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinLight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxHumidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinHumidity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MaxTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MaxLight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinLight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MaxPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MaxHumidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinHumidity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
            </td>
        </tr>

    </tbody>
</table>
