@model GardenMonitoring.Models.Settings

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered">
	<tbody>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MaxTemperature)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MaxTemperature)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MinTemperature)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MinTemperature)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MaxLight)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MaxLight)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MinLight)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MinLight)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MaxPressure)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MaxPressure)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MinPressure)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MinPressure)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MaxHumidity)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MaxHumidity)</td>
	</tr>
	<tr>
		<th>@Html.DisplayNameFor(model => model.MinHumidity)</th>
		<td>@Html.DisplayFor(modelItem => modelItem.MinHumidity)</td>
	</tr>
	</tbody>
</table>
<div align="center"> 
	<a asp-action="Edit" asp-route-id="1" class="h4">Edit</a>
</div>


