@using Microsoft.AspNetCore.Html
@model IEnumerable<GardenMonitoring.Models.Sensor>

@{
    ViewData["Title"] = "Sensor";
}

<h1>Sensor's Information</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SensorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SensorType)
            </td>
            <td>
                @IsInGoodState(item.SensorState)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

            
@functions
{
    public IHtmlContent IsInGoodState(bool state)
    {
		return state ? new HtmlString("<p style = \"color: #00ff00\">OK</p>") : new HtmlString("<p style = \"color: red\">Warning</p>");
    }

}
