@model IEnumerable<GardenMonitoring.Models.PlantState>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.Plant.Name)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.TimeStamp)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Temperature)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Light)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Pressure)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Humidity)
	    </th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Plant.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TimeStamp)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Temperature)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Light)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Pressure)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Humidity)
		</td>
	</tr>
}
    </tbody>
</table>
